<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Calculadora4Soap2" />
            </basicHttpBinding>
        </bindings>
        <client>
            
            <endpoint address="http://dsplataformas.somee.com/Calculadora4.asmx"
                binding="basicHttpBinding" bindingConfiguration="Calculadora4Soap2"
                contract="ServiceReference2.Calculadora4Soap" name="Calculadora4Soap1" />
        </client>
    </system.serviceModel>
</configuration>